table {
    border-collapse: collapse;
    border-spacing: 0;
}



*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

hr {
    background-color: #e0e0e0;
    border: 0;
    height: 1px;
    margin-bottom: 20px;
}


ul,
ol {
    padding: 0;
    margin: 0 0 20px 20px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
}

li {
    list-style: none;
}

ul li,
ol li {
    padding: 0.1em 0;
}


table,
th,
td {
    border: 1px solid #e0e0e0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: bold;
}

td {
    border-width: 0 1px 1px 0;
}

th,
td {
    padding: 8px 12px;
}

a:hover {
    text-decoration: none;
}

i:hover {
    color: #ee7b7b;
}

button,
input {
    line-height: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    vertical-align: baseline;
}

.padding-left-50 {
    padding-left: 100px !important;
}

.margin-left-36 {
    margin-left: 36%;
}

.margin-left-13 {
    margin-left: 13%;
}

.margin-left-8 {
    margin-left: 8%;
}

.margin-left--6 {
    margin-left: -6px;
}

.margin-left--5 {
    margin-left: -5px !important;
}

.margin-left--30 {
    margin-left: -30px;
}

.margin-left-31 {
    margin-left: 31%;
}

.padding-bottom-48 {
    padding-bottom: 48px !important;
}

.padding-bottom-3 {
    padding-bottom: 3px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-60 {
    padding-bottom: 60px !important;
}

.margin-bottom-42 {
    margin-bottom: 42px !important;
}

.padding-right-50 {
    padding-right: 100px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right--30 {
    margin-right: -30px !important;
}

.margin-top-30 {
    margin-top: -30px !important;
}

.margin-top--89 {
    margin-top: -89px !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-16 {
    margin-bottom: 16px !important;
}

.margin-bottom-47 {
    margin-bottom: 47px;
}

.margin-right-16 {
    margin-right: 16px !important;
}

.margin-top-2 {
    margin-top: 2px;
}

.themesflat-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (min-width: 576px) {
    .themesflat-container {
        padding-right: 15px;
        padding-left: 15px;
    }


}

@media screen and (min-width: 768px) {
    .themesflat-container {
        width: 750px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (min-width: 992px) {
    .themesflat-container {
        width: 970px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .themesflat-container {
        width: 1200px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (min-width: 1410px) {
    .themesflat-container {
        width: 1440px;
        max-width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .top-bar {
        display: none;
    }

    .main-nav {
        display: none;
    }
}

@media screen and (max-width: 425px) {}


/* Header*/
.header-fixed {
    position: fixed;
    z-index: 16;
    width: 100%;
    top: 0;
}

.sticky {
    background: white;
}

#site-header-wrap {
    position: relative;
}


.top-bar {
    position: relative;
    background-color: #0d0d0d;
}

.top-bar-phone {
    text-align: left;
}

.message_anoun {
    text-align: center;
}

.menu-language {
    margin-right: -6px;
    text-align: right;
}

.top-bar-phone a,
.message_anoun span,
.menu-language a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
    letter-spacing: 0.2px;
}

.message_anoun span {
    font-size: 12px;
    letter-spacing: 1.34px;
}

.top-bar a:hover {
    color: #ee7b7b;
}

.menu-language select {
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 12px 0 8px;
    width: 53px;
    border: none;
    outline-style: none;
    background-color: #0d0d0d;
}

.menu-language select:first-child {
    margin-right: 15px;
    width: 46px;
}

.menu-language select option:active,
.menu-language select option {
    background-color: #ee7b7b;
}

.top-bar .btn-close-top-bar {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-44%);
}

.top-bar .btn-close-top-bar i {
    color: #fff;
    font-size: 23px;
}


#site-header {
    position: relative;
    z-index: 99;
    -moz-box-shadow: 0 5px 5px rgb(0 0 0 / 7%);
    -webkit-box-shadow: 0 5px 5px rgb(0 0 0 / 7%);
    box-shadow: 0 5px 5px rgb(0 0 0 / 7%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#site-header-inner {
    position: relative;
    line-height: 80px;
}

#site-header-inner .wrap-inner {
    padding: 20px 0 12px 0;
}

#site-header-inner .wrap-inner.style-2 {
    padding: 13px 0 19px 0;
}


#site-logo img {
    position: relative;
    z-index: 99;
}


#site-header #main-nav {
    /* display: block; */
    position: absolute;
    left: 19.7%;
    top: 50%;
    z-index: 99;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#main-nav ul {
    margin: 0px;
}

#main-nav ul li {
    position: relative;
    list-style: none;
}

#main-nav>ul>li {
    float: left;
    padding: 0px 20px;
}

#main-nav .sub-menu li a,
#main-nav>ul>li>a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #0d0d0d;
    position: relative;
    font-family: "Lexend Deca", sans-serif;
}

#main-nav>ul>li>a {
    line-height: 80px;
}

#main-nav>ul>li.menu-item-has-children>a::after {
    /* content: "\f078"; */
    /* font-family: 'Font Awesome 5 Pro'; */
    color: #0d0d0d;
    font-size: 12px;
    margin-left: 8px;
}

#site-header #main-nav>ul>li.current-menu-item .current-item,
#site-header #main-nav>ul>li.current-menu-item>a,
#site-header #main-nav>ul>li:hover>a,
#site-header #main-nav>ul>li.current-menu-item>a::after,
#site-header #main-nav>ul>li.menu-item-has-children:hover>a::after {
    color: #ee7b7b;
}

#main-nav>ul>li>a::before {
    content: "";
    position: absolute;
    bottom: 31%;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ee7b7b;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#main-nav>ul>li>a:hover::before,
#main-nav>ul>.current-menu-item>a::before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}


#main-nav .mega-menu,
#main-nav .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    padding: 15px 0px;
    background-color: #fff;
    z-index: 9999;
    -moz-box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
    -webkit-box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
    box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
}

#main-nav .right-sub-menu {
    left: auto;
    right: 0;
}

#main-nav .mega-menu .mega-links li a,
#main-nav .sub-menu li a {
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
}

#main-nav li:hover .mega-menu,
#main-nav li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

#main-nav .mega-menu li a:hover,
#main-nav .sub-menu li a:hover,
#main-nav .sub-menu li.current-item a {
    color: #ee7b7b;
}


#main-nav-mobi {
    padding-top: 80px;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 9999;
    background-color: #fff;
}

#main-nav-mobi ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-nav-mobi ul li {
    margin: 0;
    cursor: pointer;
    padding: 0;
    border-top: 1px solid #262626;
    position: relative;
    line-height: 60px;
}

#main-nav-mobi ul>li>a {
    color: #0d0d0d;
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    font-weight: 500;
    padding-left: 20px;
}

#main-nav-mobi .sub-menu li a {
    padding-left: 40px;
}

#main-nav-mobi ul li:first-child {
    border-top: 0px;
}

#main-nav-mobi ul ul li.current-item a,
#main-nav-mobi ul>li.current-menu-item>a,
#main-nav-mobi ul>li>a:hover {
    color: #ee7b7b;
}

#main-nav-mobi .menu-item-has-children .arrow {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-family: "Font Awesome 5 Pro";
    line-height: 48px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 0;
    width: 48px;
}

#main-nav-mobi .menu-item-has-children .arrow:before {
    content: "\f078";
    color: #0d0d0d;
}

#main-nav-mobi .menu-item-has-children .arrow.active:before {
    content: "\f077";
}

#main-nav-mobi ul ul li {
    background-color: #fff;
    border-color: #262626;
}


#main-nav .mega-menu {
    width: 1000px;
    left: -450px;
}

#main-nav .mega-menu .content {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%;
    justify-content: space-between;
}

#main-nav .mega-menu .content .mega-menu-col {
    width: 25%;
}

#main-nav .mega-menu .content .title-mega-menu {
    line-height: 50px;
    padding-left: 15px;
    font-weight: 500;
}

#main-nav .mega-menu .mega-links li {
    line-height: 40px;
}

#main-nav-mobi .mega-menu .content .title-mega-menu {
    font-weight: 500;
    font-size: 14px;
}

#main-nav-mobi .mega-menu .content .mega-links li,
#main-nav-mobi .mega-menu .content .title-mega-menu {
    padding-left: 40px;
}

#main-nav-mobi .mega-menu .content .mega-links li a {
    padding-left: 15px;
}


.mobile-button {
    display: none;
    position: absolute;
    width: 26px;
    height: 26px;
    float: right;
    top: 50%;
    right: 15px;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mobile-button:before,
.mobile-button:after,
.mobile-button span {
    background-color: #ee7b7b;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}




.mobile-button.style-2 {
    position: fixed;
    float: right;
    top: 25px;
    right: 25px;
    z-index: 10000;
}

.mobile-button.style-2::after,
.mobile-button.style-2::before {
    display: none;
}

.mobile-button.style-2 i {
    color: #ee7b7b;
    font-size: 30px;
}


.menu-socical-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-44%);
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 0;
}

.menu-socical-icon li {
    padding: 0;
}

.menu-socical-icon li a::after {
    content: '2';
    font-size: 13px;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #ee7b7b;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 27%;
    right: -6px;
}

.menu-socical-icon li a i {
    font-size: 25px;
    padding-left: 27px;
}


#site-header .header-search-form.show {
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}

#site-header .header-search-form {
    position: absolute;
    right: 0px;
    top: 78%;
    width: 270px;
    opacity: 0;
    visibility: hidden;
}

#site-header .header-search-form.style-2 {
    right: auto;
    top: 78%;
    left: 0;
}

#site-header .header-search-field {
    width: 300px;
    height: 47px;
    padding: 0 50px 0 20px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 15%);
}

#site-header .header-search-submit {
    position: absolute;
    right: 0;
    top: 17px;
    padding: 16px;
}


#site-header.is-fixed {
    position: fixed;
    top: -120px;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#site-header.is-fixed.is-small {
    top: 0;
}

#site-header.is-fixed.is-small #main-nav>ul>li>a,
#site-header.is-fixed.is-small #site-header-inner {
    line-height: 70px;
}

#site-header.is-fixed .header-search-submit {
    top: 11px;
}


#site-header.style-2 #site-logo {
    text-align: center;
    margin-left: -21px;
}

#site-header.style-2 #main-nav {
    left: 19.5%;
}

#site-header.style-2 #main-nav>ul>li:nth-child(3) {
    padding-right: 80px;
}

#site-header.style-2 #main-nav>ul>li:nth-child(4) {
    padding-left: 150px;
}

#site-header.style-2 .btn-search-left {
    position: absolute;
    font-size: 28px;
    top: 50%;
    transform: translateY(-46%);
}

#site-header.style-2 .menu-language {
    position: absolute;
    left: 6.3%;
}

#site-header.style-2 .menu-language select {
    color: #0d0d0d;
    background-color: #fff;
}


#site-header.style-3 #main-nav {
    left: 0%;
}

#site-header.style-3 #site-logo {
    text-align: center;
}