<div id="loading-overlay">
    <div class="loader"></div>
</div>
<nav id="wrapper" class="header-fixed">
    <div id="page" class="clearfix">
        <div id="site-header-wrap">
            <div class="top-bar">
                <div class="themesflat-container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <div class="top-bar-phone">
                                <a style="text-decoration: none;" href="tel:+0112348888">Call US: (+01) 1234 8888</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="message_anoun">
                                <span>Free shipping, 30-day return or refund guarantee.</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="menu-language">
                                <select>
                                    <option value="0">EN</option>
                                    <option value="1">VN</option>
                                </select>
                                <select>
                                    <option value="0">USD</option>
                                    <option value="1">VND</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <header id="site-header">
                <div id="site-header-inner" class="themesflat-container">
                    <div id="site-logo" class="clearfix" routerLink="/">
                        <div id="site-log-inner">
                            <a rel="home" class="main-logo">
                                <img src="../../assets/image/logo@2x.png" width="110px" alt="Alohan">
                            </a>
                        </div>
                    </div>
                    <div class="mobile-button">
                        <span></span>
                    </div>
                    <div id="main-nav" class="main-nav">
                        <ul id="menu-primary-menu" class="menu">
                            <li class="menu-item menu-item-has-children current-menu-item" routerLink="/">
                                <a>HOME</a>
                                <ul class="sub-menu">
                                    <li class="menu-item current-item"><a>Home 1</a></li>
                                    <li class="menu-item"><a>Home 2</a></li>
                                    <li class="menu-item"><a>Home 3</a></li>
                                    <li class="menu-item"><a>Home 4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children " routerLink="/about">
                                <a>ABOUT US </a>
                                <ul class="sub-menu">
                                    <li class="menu-item "><a>About Us </a></li>
                                    <li class="menu-item"><a>Faqs</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children " routerLink="/list">
                                <a>SHOP</a>
                                <ul class="mega-menu sub-menu">
                                    <li class="content">
                                        <div class="mega-menu-col">
                                            <div class="title-mega-menu">SHOP LAYOUT</div>
                                            <ul class="mega-links">
                                                <li><a>Shop Full 3 Col</a></li>
                                                <li><a>Shop Full 4 Col</a></li>
                                                <li><a>Shop Sidebar 3 Col</a></li>
                                                <li><a>Shop Sidebar List</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-menu-col">
                                            <div class="title-mega-menu">SHOP DETAIL</div>
                                            <ul class="mega-links">
                                                <li><a>Product Detail</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-menu-col">
                                            <div class="title-mega-menu">SHOP OTHER</div>
                                            <ul class="mega-links">
                                                <li><a>Checking Order</a></li>
                                                <li><a>Checkout</a></li>
                                                <li><a>Checkout Complete</a></li>
                                                <li><a>Comming Soon</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-menu-col">
                                            <div class="title-mega-menu">SHOP OTHER</div>
                                            <ul class="mega-links">
                                                <li><a>Login</a></li>
                                                <li><a>Popup</a></li>
                                                <li><a>Wish List</a></li>
                                                <li><a>404 Page</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a>BLOG</a>
                                <ul class="sub-menu ">
                                    <li class="menu-item "><a>Blog Standard</a></li>
                                    <li class="menu-item "><a>Blog List</a></li>
                                    <li class="menu-item "><a>Blog Metro</a></li>
                                    <li class="menu-item "><a>Blog Detail</a></li>
                                </ul>
                            </li>
                            <li class="menu-item ">
                                <a>CONTACT</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="menu-socical-icon">
                        <li><a><i class="fa-solid fa-magnifying-glass"></i></a> </li>
                        <li routerLink="/login"><a> <i class="fa-solid fa-user"></i> </a></li>
                        <li><a><i class="fa-solid fa-heart"></i> </a></li>
                        <li routerLink="/cart"><a><i class="fa-solid fa-bag-shopping"></i> </a></li>
                    </ul>

                </div>
            </header>
        </div>
    </div>
</nav>