<body>
    <section class="page-title padding-bottom-60 bg-page-title">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active"><span>About</span></li>
            </ul>
            <div class="heading-title">
                <h3>About Us</h3>
            </div>
        </div>
    </section>
    <section class="about themesflat-section">
        <div class="container">
            <div class="row">
                <div class="about-inner text-center  wow fadeInUp"
                    style="visibility: visible; animation-name: fadeInUp;">
                    <h3 class="heading">About the fashion brand ALOHAN</h3>
                    <p class="content">With inspiration from the passion for fashion, the desire to bring beauty to all
                        women and moreover the desire to contribute to creating a new image for the Vietnamese fashion
                        industry, ALOHAN has focused invest in product quality and design so that ALOHAN Fashion brand
                        becomes a name closer to customers.

                        With the motto "BRIGHTEN YOUR DAY", ALOHAN wishes to bring customers the best products so that
                        you can not only express your personality but also spread positive and strong energy to the
                        surroundings. </p>
                </div>
            </div>
        </div>
    </section>
    <section class="video themesflat-section wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container-fluid">
            <a class="btn-video " href="https://www.youtube.com/watch?v=vG1yg-YWOCI">
                <img src="../../assets/image/293305190_1308665013206304_8614697707174779597_n.jpg" alt="Image">
                <i class="fa-solid fa-play"></i>
            </a>
        </div>
    </section>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="about-inner text-center  wow fadeInUp"
                    style="visibility: visible; animation-name: fadeInUp;">
                    <h3 class="heading text-uppercase">Customer</h3>
                    <p class="content">Whether you are a strong, independent girl or a gentle, sweet muse, ALOHAN
                        believes it can meet your daily wear needs. You don't need to change your style to follow the
                        trend, as a modern lady, you should take advantage of fashion to refresh yourself and create
                        youthful, positive energies yourself.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="banner style-3 themesflat-section" style="padding-bottom: 0px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <img src="../../assets/image/297783836_562476135616032_5255592090141455039_n.jpg" alt="">
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="../../assets/image/297694550_900520524238977_3988529326030938571_n.jpg" alt="">
                </div>
                <div class="col-lg-4 col-md-12 p-5">
                    <div class="about-inner text-left  wow fadeInUp"
                        style="visibility: visible; animation-name: fadeInUp;">
                        <h1 class="font-weight-bold py-2">Our history</h1>
                        <h4>Alohan, a brand of eBay Korea, has been a leading e-commerce.
                        </h4>
                        <h5 class="font-weight-light">
                            Marketplace in Korea, since it has been founded in 2000.
                        </h5>
                        <h5 class="font-weight-light">
                            Alohangives sellers a flexible and comprehensive sales solution and buyers a tremendous
                            selection of goods at competitive prices.
                        </h5>
                        <button class="btn-dark btn-cus">Contact Us</button>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section style="margin-bottom: 35px;">
        <h3 class="team1">OUR TEAM</h3>
        <div class="team">
            <div class="img">
                <img src="../../assets/image/296798544_5464986510216308_2683267578522449118_n.jpg" alt="">
            </div>
            <p class="text1">NM_PROPERTY include 6 member come from the Faculty of information Technology, specialized
                in programming of Bach Khoa – Aptech University. We are young students with high enthusiasm, dynamism
                and creativity. <br>
                Confident and creative. simple but no less luxurious. Our team always strives to create a user-friendly
                and useful website. <br> <br>
                That's our mission ! </p>

        </div>

    </section>


</body>