<div class="container container2">
    <div class="row main mb-3">
        <div class="col-lg-7">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">PRODUCT</th>
                        <!-- <th></th> -->
                        <th>PRICE</th>
                        <th style="width: 135px;">AMOUNT</th>
                        <th style="width: 114px;">PROVISIONAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="align-items: center;">
                        <td>
                            <a style="margin-right: 15px;"><i class="fas fa-trash-alt"></i></a>
                            <img style="margin-right: 5px;" src="../../assets/image/product-5.jpg" width="70px" alt="">
                        </td>
                        <td>Floral-print flowy blouse</td>
                        <td style="font-weight: 500;;">368.99</td>
                        <td style=" text-align: center;">
                            <button class="btn-fake left1" id="tru">-</button>
                            <input type="text" value="1" id="kq">
                            <button class="btn-fake right1" id="cong">+</button>
                        </td>
                        <td style="font-weight: 500;; text-align: center;">368.99</td>
                    </tr>
                    <tr>
                        <td>
                            <a style="margin-right: 15px;"><i class="fas fa-trash-alt"></i></a>
                            <img style="margin-right: 5px;" src="../../assets/image/product-7.jpg" width="70px" alt="">
                        </td>
                        <td>Floral-print flowy blouse</td>
                        <td style="font-weight: 500;;">368.99</td>
                        <td style=" text-align: center;">
                            <button class="btn-fake left1" id="tru">-</button>
                            <input type="text" value="1" id="kq">
                            <button class="btn-fake right1" id="cong">+</button>
                        </td>
                        <td style="font-weight: 500;; text-align: center;">368.99</td>
                    </tr>
                    <tr style="border-top: 2px solid gray;">
                        <th colspan="2">TOTAL PRICE:</th>
                        <td></td>
                        <td></td>
                        <td style="font-weight: 700;text-align: center;">$537.98</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- <div style="width: 1px; height: 300px;"></div> -->
        <div class="col-lg-5 thanhToan">
            <h3>BILLING INFORMATION</h3>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="email" class="form-control" placeholder="Enter your full name" id="exampleInputEmail1"
                        aria-describedby="emailHelp">

                </div>
                <div class="" style="display: flex; justify-content: space-between;">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Phone number</label>
                        <input type="password" placeholder="Phone number" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email address</label>
                        <input type="password" placeholder="Email address" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Province/City</label>
                    <input type="password" placeholder="Province/City" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">District</label>
                    <input type="password" placeholder="District" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Commune/Ward/Town</label>
                    <input type="password" placeholder="Commune/Ward/Town" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Specific address</label>
                    <input type="password" placeholder="Specific address" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <!-- <button type="submit" class="btn btn-danger">Đặt hàng</button> -->
                <button type="submit" class="sub">Order</button>
            </form>
        </div>
    </div>
</div>