<div class="container mb-5" style="margin-top: 130px;">
    <div class="row">
        <div class="col-lg-6 mt-3">
            <div class="text mt-3">
                <a href="">Home / Shop</a>
            </div>
            <div class="mt-4">
                <img src="https://themesflat.com/html/alohan/assets/img/product-detail/detail-1.jpg" alt=""
                    width="500px" height="500px">
                <!-- <img src="{{blog.image}}" alt="" width="500px" height="500px"> -->
            </div>
        </div>
        <div class="col-lg-6 pro">
            <!-- <h2>{{blog.name}}</h2> -->
            <h2>Floral-print flowy blouse</h2>
            <!-- <span class="gia">${{blog.price}}</span> -->
            <span class="gia">$368.99</span>
            <p>Long coat made of wool blend fabric. Lapel collar and long sleeves and pronounced shoulders. Flap pockets
                at front. Back vent. Front double breasted button closure.</p>
            <div class="row size mt-3">
                <p>SIZE</p>
                <select name="" id="" style="margin-left: 12px;">
                    <option value="">Chọn một tùy chọn</option>
                    <option value="">XS</option>
                    <option value="">M</option>
                </select>
            </div>
            <div class="mt-4" style="margin-left: -21px;">
                <button class="cart" routerLink="/cart">ADD TO CART</button>
                <button class="find">FIND YOUR SIZE</button>
            </div>
            <div class="heart mt-3">
                <a href=""><i class="fa-solid fa-heart"></i>ADD TO WISHLIST</a>
            </div>
            <div class="text mt-3">
                <p>SKU: 2U897423</p>
                <p>Categories: Womens</p>
                <p>Tag: Women, Dresses, Short</p>
            </div>
        </div>
    </div>
    <div class="inf-pre">
        <ul>
            <li><a href="" class="active">Additional information</a></li>
            <li><a href="">Customer preview(0)</a></li>
        </ul>
        <hr>
        <div class="row mt-5">
            <div class="col-lg-6 text">
                <p>Description</p>
                <p>Care for fiber: at least 25% recycled polyester & 100% recycled polyester padding. Recycled polyester
                    is made
                    from reclaimed PET plastic, reducing water, energy, and natural resource consumption. Recycled
                    polyester
                    fill is made from plastic, like that from water bottles</p>
            </div>
            <div class="col-lg-6 infma">
                <h5>Information</h5>
                <p>Outer Shell: 100% polyester</p>
                <p>Lining: 100% polyurethane</p>
                <p>Care: </p>
            </div>
        </div>
    </div>
    <div class="">
        <h2>Wear With</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="icon-box">
                    <div class="icon-box-img">
                        <img class="card-img"
                            src="https://themesflat.com/html/alohan/assets/img/products/product-20.jpg" alt="">
                    </div>
                    <div class="icon">
                        <ul>
                            <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                        </ul>
                    </div>
                    <div class="icon-box-text">
                        <div class="star rating-star st">
                            <ngx-star-rating [id]="'rating'"></ngx-star-rating>
                            <p class="price">$398.99</p>
                        </div>
                        <p>Floral-print flowy blouse</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="icon-box">
                    <div class="icon-box-img">
                        <img class="card-img"
                            src="https://themesflat.com/html/alohan/assets/img/products/product-35.jpg" alt="">
                    </div>
                    <div class="icon">
                        <ul>
                            <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                        </ul>
                    </div>
                    <div class="icon-box-text">
                        <div class="star rating-star st">
                            <ngx-star-rating [id]="'rating1'"></ngx-star-rating>
                            <p class="price">$398.99</p>
                        </div>
                        <p>Floral-print flowy blouse</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="icon-box">
                    <div class="icon-box-img">
                        <img class="card-img"
                            src="https://themesflat.com/html/alohan/assets/img/products/product-38.jpg" alt="">
                    </div>
                    <div class="icon">
                        <ul>
                            <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                        </ul>
                    </div>
                    <div class="icon-box-text">
                        <div class="star rating-star st">
                            <ngx-star-rating [id]="'rating2'"></ngx-star-rating>
                            <p class="price">$398.99</p>
                        </div>
                        <p>Floral-print flowy blouse</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="icon-box">
                    <div class="icon-box-img">
                        <img class="card-img"
                            src="https://themesflat.com/html/alohan/assets/img/products/product-32.jpg" alt="">
                    </div>
                    <div class="icon">
                        <ul>
                            <li><a href=""><i class="fa-solid fa-magnifying-glass search"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-heart heart"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-cart-shopping cart-shop"></i></a></li>
                        </ul>
                    </div>
                    <div class="icon-box-text">
                        <div class="star rating-star st">
                            <ngx-star-rating [id]="'rating3'"></ngx-star-rating>
                            <p class="price">$398.99</p>
                        </div>
                        <p>Floral-print flowy blouse</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>