<main>
    <h2 class="text-center mt-5 mb-5">REGISTER ACCOUNT</h2>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                formControlName="firstName" />

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Last Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="lastName" />

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                formControlName="email" />

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" />

        </div>
        <button type="submit" class="btn mb-5 mt-5 sub">
            Register
        </button>
    </form>
</main>